{% extends 'base.html.twig' %}

{% block title %}Training{% endblock %}

{% block body %}
    <h1>Training</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ training.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ training.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('training_index') }}">back to list</a>

    <a href="{{ path('training_edit', {'id': training.id}) }}">edit</a>

    {{ include('training/_delete_form.html.twig') }}
{% endblock %}
